
    <link rel="stylesheet" href="stylesheets/signupstyle.css">
    <link rel="stylesheet" href="/stylesheets/loginstyle.css">
    <title>Forgot Password</title>
</head>

<body>
    <section>
        <div class="container justify-content-center">
            <div class="row mt-5">
                <div class="col-md-3"></div>
                <div class="col-md-5">
                    <div class="card p-4 shadow-sm">
                        <h3 class="text-center mb-4">Forgot Password</h3>
                        <form action="/forgot-password-submit" method="POST" onsubmit="return forgotemailValidation()">
                            <div class="mb-3">
                                <label for="email" class="form-label">Enter your registered email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter your email">
                                <div id="error-email" class="error-style"></div>
                            </div>
                            <button type="submit" class="btn btn-success mb-4 signup-btncls w-65">Submit</button>
                        </form>
                        <div>Remembered your password? <a href="/login" class="signup-login">Login</a></div>

                         <!-- Success Message -->
                        {{#if successMessage}}
                        <div class="alert alert-success" role="alert">
                            {{successMessage}}
                        </div>
                        {{/if}}

                        <!-- Error Message -->
                        {{#if errorMessage}}
                        <div class="alert alert-danger" role="alert">
                            {{errorMessage}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="javascripts/forgotpwd.js"></script>
</body>

</html>
