<link rel="stylesheet" href="/stylesheets/loginstyle.css">
<section>
  <div class="container justify-content-center">
    <div class="row mt-5">
      <div class="col-md-3"></div>
      <div class="col-md-5">

        <div class="card p-4 shadow-sm">
          <h3 class="text-center mb-4">Login</h3>

          {{#if message}}
          <p style="color: red;">{{message}}</p>
          {{/if}}

          <!-- Traditional Login Form -->
          <form action="/login" method="POST" onsubmit="return validateForm()">
            <div class="mb-4">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter username">
              <div id="error-name" class="error-message"></div>
            </div>
            <div class="mb-5">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
              <div id="error-pwd" class="error-message"></div>
            </div>


            <button type="submit" class="btn btn-primary  mb-4 mt-4 color-cls w-90">Login</button>
            <div><a href="/forgot-password">Forgot password?</a></div>
            <div>
              Not a member ? <a class="login-signup" href="/signup">Signup</a> now
            </div>
          </form>
        </div>
        <div class="google-login">
          <h5>Or Login with Google</h5>
          <a href="/auth/google">
            <button style="background-color: #4285F4; color: white; border: none; padding: 10px 20px; cursor: pointer;">
              <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo"
                style="height: 20px; margin-right: 10px;">
              Sign in with Google
            </button>
          </a>
        </div>

      </div>

      <!-- Divider -->
      <hr>

      <!-- Google Login Button -->

</section>
<script src="javascripts/adminlogin.js"></script>
</body>

</html>