
    <link rel="stylesheet" href="/stylesheets/productstyle.css">
    <scetion>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 mb-6">
                    <div class="card" style="width: 18rem mr-10;">
                        <img class="card-img-top" src="/uploads/{{product.image}}" alt="Card image cap">

                    </div>
                </div>
                <div class="col-md-6 mb-6">
                    <div class="card pro-2div" style="width: 18rem mr-10;">
                        <p class="pro-description ">{{product.name}}</p>
                        <div>
                            <span class="pro-disc">-52%</span>
                            <span class="pro-price">₹ {{product.price}}</span>
                        </div>
                        <p class="pro-size">Size</p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle pro-dropdown" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                8UK
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">9</a>
                                <a class="dropdown-item" href="#">10</a>
                                <a class="dropdown-item" href="#">11</a>
                            </div>
                        </div>
                        <p class="pro-size">Color</p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle pro-dropdown" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Black
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Red</a>
                                <a class="dropdown-item" href="#">White</a>
                                <a class="dropdown-item" href="#">Blue</a>
                            </div>
                        </div>
                        <button type="button" class="btn  pro-cartButton">Add to cart</button>

                    </div>
                </div>

            </div>
        </div>
        </section>