<link rel="stylesheet" href="stylesheets/signupstyle.css">
<link rel="stylesheet" href="/stylesheets/loginstyle.css">

<title>Signup</title>
</head>

<body>


    <section>
        <div class="container justify-content-center">
            <div class="row mt-5">
                <div class="col-md-3"></div>
                <div class="col-md-5">
                    <div class="card p-4 shadow-sm">
                        <h3 class="text-center mb-4">Sign Up</h3>

                        <div class="error-message">{{message}}</div>
                        {{#if successMessage}}
                        <div class="alert alert-success">
                            {{successMessage}}
                        </div>
                        {{/if}}

                        {{#if errorMessage}}
                        <div class="alert alert-danger">
                            {{errorMessage}}
                        </div>
                        {{/if}}

                        <form action="/signupsubmit" method="post" onsubmit="return validateSignupForm()">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    placeholder="Enter your name">
                                <div id="error-name" class="error-style"></div>
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Enter your username">
                                <div id="error-username" class="error-style"></div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter your email">
                                <div id="error-email" class="error-style"></div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Enter your password">
                                <div id="error-password" class="error-style"></div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="cpassword" name="cpassword"
                                    placeholder="Enter your password">
                                <div id="error-cpassword" class="error-style"></div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="houseNo" class="form-label">House.No</label>
                                <input type="textarea" class="form-control" id="houseNo" name="houseNo"
                                    placeholder="Enter your address">
                                <div id="error-houseNo" class="error-style"></div>
                            </div>

                            <div class="mb-3">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" name="city"
                                    placeholder="Enter your username">
                                <div id="error-city" class="error-style"></div>
                            </div>

                            <div class="mb-3">
                                <label for="state" class="form-label">State</label>
                                <input type="text" class="form-control" id="state" name="state"
                                    placeholder="Enter your state">
                                <div id="error-state" class="error-style"></div>
                            </div>

                            <div class="mb-3">
                                <label for="pincode" class="form-label">Pincode</label>
                                <input type="text" class="form-control" id="pincode" name="pincode"
                                    placeholder="Enter your pincode">
                                <div id="error-pincode" class="error-style"></div>
                            </div>

                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone"
                                    placeholder="Enter your phone number">
                                <div id="error-phone" class="error-style"></div>
                            </div>


                            <button type="submit" class="btn btn-success mb-4 signup-btncls w-65">Sign Up</button>

                        </form>
                        <div>Already have an account ? <a href="/login" class="signup-login">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="javascripts/signupformvalidation.js"></script>
</body>

</html>