.ul-procatcls{
    margin-top: 25px;
    font-weight: bold;
}
.error-msg {
    color: red;
    font-size: 15px;
    margin-top: 5px;
  }
  .uploadImg-cls{
    width:80px;
    height: 80px;
    cursor: pointer;
  }

  .error-message {
    color: red;
    font-size: 15px;
    margin-top: 5px;
  }
