.login-signup{
color: rgb(45, 175, 250);
cursor: pointer;
}
.color-cls{
    background-color: rgb(194, 247, 247);
    color: black;
    font-weight: bold;
    border-radius: px;
    margin-left: 130px;
  }

  .error-message {
    color: red;
    font-size: 15px;
    margin-top: 5px;
  }