login-signup{
color: rgb(45, 175, 250);
}
.color-cls{
    background-color: rgb(194, 247, 247);
    color: black;
    font-weight: bold;
    width:150px;
    border-radius: px;
    margin-left: 125px;
  
}