.login-signup {
  color: rgb(45, 175, 250);
  cursor: pointer;
}

.color-cls {
  background-color: rgb(194, 247, 247);
  color: black;
  font-weight: bold;
  border-radius: px;
  margin-left: 130px;
}

.error-message {
  color: red;
  font-size: 15px;
  margin-top: 5px;
}

.google-login {
  text-align: center;
  margin-top: 30px;
}

.social-login {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.login-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button img {
  height: 16px;
}