.signup-btncls {
    background-color: rgb(194, 247, 247);
    color: black;
    font-weight: bold;
    /* width: 150px; */
    border-radius: px;
    margin-left: 130px;
}

.signup-login {
    color: rgb(45, 175, 250);
    cursor: pointer;
}